<div class="container find_password_main">
    <div class="find_password_title">
        重置登录密码
    </div>
    <div class="find_password_account">
        <div class="fl find_password_account_label">账号</div>
        <input type="text" class="find_password_account_input fl" placeholder="手机号号码" ng-model="loginForm.mobile">
    </div>
    <div class="find_password_verificationCode" ng-init="countDown=0">
        <div class="fl find_password_verificationCode_label" >验证码</div>
        <div class="fl"><input type="text" class="find_password_verificationCode_input" placeholder="验证码" ng-model="loginForm.captcha"></div>
        <button class="btn fl find_password_verificationCode_button" ng-click="getCaptcha()" ng-if="countDown<=0">获取验证码</button>
        <button class="btn fl find_password_verificationCode_button_disable" disabled="disabled" ng-if="countDown>0">( {{countDown}} )</button>
    </div>
    <div class="find_password_newpassword">
        <div class="fl find_password_newpassword_label">设置新密码</div>
        <input type="password" class="fl find_password_newpassword_input" ng-model="loginForm.password">
    </div>
    <div class="find_password_newpassword_confirm">
        <div class="fl find_password_newpassword_confirm_label">
            重复新密码
        </div>
       <input type="password" class="fl find_password_newpassword_confirm_input" ng-model="loginForm.rpassword">
    </div>
    <button class="btn find_password_newpassword_confirm_button" ng-click="submit()">完成</button>
    <div class="find_password_slide"></div>

    <div class="find_password_font">
        <p>使用遇到的问题？</p>
        <p>无法找回趣编网账户登录密码，怎么办？</p>
        <p>答：1、找回密码只能通过绑定手机，请确认您绑定了手机</p>
        <p>2、如果长时间未接收到手机短信，请查看您的拦截短信。</p>
        <p>3、无法通过以上方式找回登录密码时，您可以<a href="###"><span class="active-color">申请人工审核</span></a>。</p>
    </div>
</div>