  <div class="container">
      <div class="swiper-container">
          <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="Images/banner.png" class="banner"></div>
              <div class="swiper-slide"><img src="Images/banner.png" class="banner"></div>
              <div class="swiper-slide"><img src="Images/banner.png" class="banner"></div>
              <div class="swiper-slide"><img src="Images/banner.png" class="banner"></div>
          </div>
      </div>
  </div>

  <div class="container text-center index_tip">
      · 如何快速发布需求 ·
  </div>

  <div class="container index_category">
      <div class="fl text-center">
          <div class="ico1-7 index_category_ico"></div>
          <div class="index_category_font">Ⅰ选择类目</div>
      </div>
      <div class="fl text-center">
          <div class="ico1-8 index_category_ico"></div>
          <div class="index_category_font">Ⅱ描述需求</div>
      </div>
      <div class="fl text-center">
          <div class="ico1-9 index_category_ico"></div>
          <div class="index_category_font">Ⅲ设置赏金</div>
      </div>
      <div class="fl text-center">
          <div class="ico1-10 index_category_ico"></div>
          <div class="index_category_font">Ⅳ确定需求</div>
      </div>
  </div>

  <div class="container text-center">
      <div class="index_ad_logo">
          陪你做视频的 • 设计师
      </div>
  </div>
  <div class="container index_recommend_block first">
      <div class="index_recommend_block_title_wrap clearlf">
          <div class="title fl">1F&nbsp宣传片</div>
          <ul class="breadcrumb fl">
              <li>企业宣传片</li>
              <li>产品宣传片</li>
              <li>公益宣传片</li>
              <li>影视宣传片</li>
          </ul>
          <div class="ico2-1 more fr"></div>
      </div>
      <div class="index_recommend_block_video_img_wrap clearlf">
          <div class="video_img fl" ng-click="isShow=true">
              <div class="video_img_mask"></div>
              <img src="ad/001.png">
              <div class="text-center video_img_font">
                  鬼吹灯宣传片
              </div>
          </div>
          <div class="video_img fl">
              <div class="video_img_mask"></div>
              <img src="ad/002.png">
              <div class="text-center video_img_font">
                  逍遥法医宣传片
              </div>
          </div>
          <div class="video_img fl">
              <div class="video_img_mask"></div>
              <img src="ad/003.png">
              <div class="text-center video_img_font">
                  浮世爱宣传片
              </div>
          </div>
      </div>
  </div>
  <div class="container index_recommend_block">
      <div class="index_recommend_block_title_wrap clearlf">
          <div class="title fl">2F微广告</div>
          <ul class="breadcrumb fl">
              <li>旅游服务</li>
              <li>服装</li>
              <li>文学教育</li>
              <li>汽车</li>
          </ul>
          <div class="ico2-1 more fr"></div>
      </div>
      <div class="index_recommend_block_video_img_wrap clearlf">
          <div class="video_img fl">
              <div class="video_img_mask"></div>
              <img src="ad/004.png">
              <div class="text-center video_img_font">
                  APP宣传片
              </div>
          </div>
          <div class="video_img fl">
              <div class="video_img_mask"></div>
              <img src="ad/005.png">
              <div class="text-center video_img_font">
                  茶叶宣传片
              </div>
          </div>
          <div class="video_img fl">
              <div class="video_img_mask"></div>
              <img src="ad/006.png">
              <div class="text-center video_img_font">
                  愤怒的唐僧预告片
              </div>
          </div>
      </div>
  </div>
  <div class="container index_recommend_block">
      <div class="index_recommend_block_title_wrap clearlf">
          <div class="title fl">3F新媒体定制</div>
          <ul class="breadcrumb fl">
              <li>app</li>
              <li>微信公众平台</li>
              <li>微网站</li>
              <li>微博</li>
          </ul>
          <div class="ico2-1 more fr"></div>
      </div>
      <div class="index_recommend_block_video_img_wrap clearlf">
          <div class="video_img fl">
              <div class="video_img_mask"></div>
              <img src="ad/007.png">
              <div class="text-center video_img_font">
                  汉服宣传片
              </div>
          </div>
          <div class="video_img fl">
              <div class="video_img_mask"></div>
              <img src="ad/008.png">
              <div class="text-center video_img_font">
                  梵品秋装宣传片
              </div>
          </div>
          <div class="video_img fl">
              <div class="video_img_mask"></div>
              <img src="ad/009.png">
              <div class="text-center video_img_font">
                  战国2游戏宣传片
              </div>
          </div>
      </div>
  </div>
  <div class="container index_recommend_block last">
      <div class="index_recommend_block_title_wrap clearlf">
          <div class="title fl">4F动画/动漫</div>
          <ul class="breadcrumb fl">
              <li>游戏CG</li>
              <li>影视动画</li>
              <li>3D动画</li>
              <li>其他</li>
          </ul>
          <div class="ico2-1 more fr"></div>
      </div>
      <div class="index_recommend_block_video_img_wrap clearlf">
          <div class="video_img fl">
              <div class="video_img_mask"></div>
              <img src="ad/010.JPG">
              <div class="text-center video_img_font">
                  木染手工皂宣传片
              </div>
          </div>
      </div>
  </div>

  <div ng-if="isShow">
      <div id="mask" class="mask"></div>
      <div class="bianker_index_video_wrap">
        <div class="bianker_index_video_close_btn">
            <img src="Images/close.png"  ng-click="isShow=!isShow">
        </div>
        <video id="video1" src="http://video.videoartists.cn/sh/chaye.mp4" class="video" controls></video>
          <div class="bianker_index_video_date">
              <div class="bianker_index_video_date_label">上传时间&nbsp:</div>
              <span class="bianker_index_video_date_content">2015-12-15</span>
          </div>
          <div class="bianker_index_video_author">呵呵呵呵呵呵</div>
      </div>
  </div>
