<article>
    <!-- header start -->
    <header>
        <div class="nav_wrap">
            <div class="container clearfix">
                <a ui-sref="app.index">
                    <div class="nav_header fl">
                        <div class="nav_header_logo ico9-6 fl"></div>
                        <div class="nav_header_logofont fl">趣编，陪你做视频的设计师</div>
                    </div>
                </a>
                <a href="#"><div class="ico8-5 nav_footer_logo fr"></div></a>
                <a ui-sref="app.user_bk.index" ><div ng-click="_role=1" class="nav_i_am_author fr">我是编客</div></a>
                <a ui-sref="app.user_gz.order_list" ><div ng-click="_role=2" class="nav_i_am_employeer fr">我是雇主</div></a>
                <a ui-sref="app.user_bk.order_list"><div class="nav_my_list fr">我的订单</div></a>
                <span ng-if="cuser">
                    <a ui-sref="app.user_bk.index">
                        <div class="text-center nav_register fr">消息</div>
                    </a>
                        <div class="text-center nav_login_name fr"  ng-mouseenter="deploy_login_show=true" ng-mouseleave="deploy_login_show=false">
                            <span ng-if="cuser.nickname" ui-sref="app.user_bk.index" ng-bind="cuser.nickname"></span><div class="ico1-3 nav_login_logo"></div>
                            <div class="tipbox" ng-show="deploy_login_show">
                                <ul>
                                    <li ui-sref="app.user.setting">
                                        <div class="ico3-6 icon"></div>
                                        <div class="font">账号设置</div>
                                    </li>
                                    <li ui-sref="app.feedBack">
                                        <div class="ico3-7 icon"></div>
                                        <div class="font">意见反馈</div>
                                    </li>
                                    <li ng-click="signout()">
                                        <div class="ico3-8 icon"></div>
                                        <div class="font">退出</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </span>
                <span ng-if="!cuser">
                    <a ui-sref="register">
                        <div class="text-center nav_register fr">注册</div>
                    </a>
                    <a ui-sref="login">
                        <div class="text-center nav_login fr">
                            <span>登录</span><div class="ico1-3 nav_login_logo"></div>
                        </div>
                    </a>
                </span>

            </div>
        </div>
        <div class="container search_select clearfix">
            <div class="text-center fl" ng-class="{'active':_search.tab_index==1}" ng-click="_search.tab_index=1">需求</div>
            <div class="text-center fl" ng-class="{'active':_search.tab_index==2}" ng-click="_search.tab_index=2">素材</div>
            <div class="text-center fl" ng-class="{'active':_search.tab_index==3}" ng-click="_search.tab_index=3">编客</div>
        </div>
        <div class="container">
            <div class="index_search fl clearfix">
                <div class="index_search_ico_wrap fl">
                    <div class="ico1-5 index_search_ico_main"></div>
                </div>
                <input type="text" class="index_search_input fl" style="outline:none;" ng-model="_search.key_word">
                <div class="btn index_search_button" ng-click="searchFun()">搜索</div>
            </div>
            <div class="text-center index_or fl" ng-click="log()">
                or
            </div>
            <div class="text-center dropdown fr" ng-mouseenter="deploy_show=true" ng-mouseleave="deploy_show=false">
                <div class="btn index_publish" id="publish" >
                    免费发布需求<div class="ico1-4 index_publish_ico"></div>
                </div>
                <ul class="index_publish_drop_wrap" ng-show="deploy_show">
                    <li>如何快速发布需求</li>
                    <li>Ⅰ选择类目</li>
                    <li>Ⅱ描述需求</li>
                    <li>Ⅲ设置赏金</li>
                    <li>Ⅳ确定需求</li>
                    <div class="index_publish_drop_submitBtn_wrap">
                        <button class="btn index_publish_drop_submitBtn_main" ui-sref="app.requireDeploy">
                            立即发布需求
                        </button>
                    </div>
                </ul>
            </div>
        </div>
    </header>
    <nav class="navbar" ng-if="menu.menu_type==1">
        <div class="container">
            <div class="index_nav">
                <div class="nav_font" ng-class="{'active':menu.menu_index==1}" ui-sref="app.index">首页</div>
                <div class="nav_font" ng-class="{'active':menu.menu_index==2}"  ui-sref="app.allRequires">需求</div>
                <div class="nav_font" ng-class="{'active':menu.menu_index==3}"  ui-sref="app.index">趣编</div>
                <div class="nav_font" ng-class="{'active':menu.menu_index==4}"  ui-sref="app.index">灵感</div>
                <div class="nav_font" ng-class="{'active':menu.menu_index==5}" onclick="window.open('http://www.videoartists.cn')">素材</div>
            </div>
        </div>
    </nav>
    <div class="bianker_navbar" ng-if="menu.menu_type==2">
        <div class="container">
            <div class="ico4-1 bianker_navbar_icon fl"></div>
            <div class="bianker_navbar_header fl">我是{{_dict.user_type[_role]}}</div>
            <a ui-sref="app.user_bk.index"><div class="bianker_navbar_private_index{{menu.menu_index == 1?'_active':''}} fl">个人首页</div></a>
            <a ui-sref="app.user.setting"><div class="bianker_navbar_account_setting{{menu.menu_index == 2?'_active':''}} fl">账号设置</div></a>
            <a ui-sref="app.user_bk.index"><div class="bianker_navbar_my_message{{menu.menu_index == 3?'_active':''}} fl">我的消息</div></a>
            <div class="bianker_navbar_i_am_employer fr" ng-click="go_role_page()">
                <div class="fl">我是{{_dict.user_type[_role==1?'2':'1']}}</div>
                <div class="ico3-4 fl"></div>
            </div>
        </div>
    </div>
    <!-- header end -->

    <!-- body start -->
    <section class="content" ui-view="body"></section>
    <!-- body end -->

    <!-- footer start -->
    <footer class="footer">

        <!-- 用户指南 -->
        <div class="index_footer_pre_wrap" ng-if="showGuid()">
            <div class="container index_footer_pre clearfix">
                <ul class="link">
                    <li><a href="###">新手指南</a></li>
                    <li><a href="###">注册新用户</a></li>
                    <li><a href="###">雇主入门</a></li>
                    <li><a href="###">服务商入门</a></li>
                    <li><a href="###">规则中心</a></li>
                </ul>
                <ul class="link">
                    <li><a href="###">我是雇主</a></li>
                    <li><a href="###">发布需求</a></li>
                    <li><a href="###">挑选服务商</a></li>
                    <li><a href="###">购买设计作品</a></li>
                    <li><a href="###">雇主故事</a></li>
                </ul>
                <ul class="link">
                    <li><a href="###">我是编客</a></li>
                    <li><a href="###">投标赚钱</a></li>
                    <li><a href="###">大咖分享</a></li>
                    <li><a href="###">服务商联盟</a></li>
                    <li><a href="###">编客商学院</a></li>
                </ul>
                <ul class="link">
                    <li><a href="###">编客担保交易</a></li>
                    <li><a href="###">支付方式</a></li>
                    <li><a href="###">诚信管理中心</a></li>
                    <li><a href="###">曝光台</a></li>
                </ul>
                <div class="index_footer_service_wrap">
                    <a href="###"><div class="index_footer_service">客服中心</div></a>
                    <div class="text-center index_footer_service_phonenum">400-1234-567</div>
                </div>
            </div>
        </div>
        <!-- 常见问题 -->
        <div class="footer-require" ng-if="showQuestion()">
            <div class="container">
                <p class="title">常见问题：</p>
                <p>我在趣编网上交易有安全保障吗？</p>
                <p>答：</p>
                <p>1）趣编网与第三方支付平台合作，第三方支付平台具有国家颁发的互联网支付牌照，担保您资金的安全可靠。</p>
                <p>2）您发布需求后先支付赏金到趣编网，对编客工作满意后，再通知趣编网打款；如无有效稿件，全额退款。整个交易过程趣编网担保您赏金安全，并保障您的交易效果。</p>
                <p>3）此外，所有编客实名认证，为雇主提供保障，若交易中编客发生违约或不诚信行为，雇主可获得赔付。</p>
                <p class="title1">我该怎么填写我的需求？</p>
                <p>答：</p>
                <p>您可以：</p>
                <p>1）参考趣编网的已有需求，看看人家的需求是怎样描述的。</p>
                <p>2）尽量用简单、明了的语言来表述自己的需求。</p>
                <p>3）实在难以表述清楚的，可以联系趣编网的客服人员协助您处理。</p>
            </div>
        </div>


        <div class="index_footer_main">
            <div class="container">
                <ul class="link">
                    <li><a href="index.html">关于趣编</a></li>
                    <li><a href="index.html">用户协议</a></li>
                    <li><a href="index.html">客服中心</a></li>
                    <li><a href="index.html">商务合作</a></li>
                </ul>
                <br>
                <div class="copyright">copyright© 2012-2016 Bianker.All Rights Reserved</div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
</article>