<header>
    <div class="login_header_wrap">
        <div class="container clearfix">
            <a ui-sref="app.index">
                <div class="ico1-1 login_header_logo fl"></div>
                <div class="login_header_title fl">
                    编客网，陪你做视频的设计师
                </div>
            </a>
        </div>
    </div>
</header>

<div class="content" ng-init="loginForm.mobile='';loginForm.password='';">
    <div id="bg"><img src="Images/bg.png"/></div>
    <div class="container">
        <div class="login_window fr">

            <div class="login_tab">
                <div class="text-center user_login" >
                    <div class="login-user active" id="login" ng-class="{'active':_search.tab_index==1}" ng-click="_search.tab_index=1" >账号登录</div>
                </div>
                <div class="text-center seller_login">
                    <div class="login-user" id="login-seller" ng-class="{'active':_search.tab_index==2}" ng-click="_search.tab_index=2">商家登录</div>
                </div>
            </div>

            <div class="account">
                <div class="account_label">
                    <div class="icon-2-3 account_label_ico"></div>
                </div>
                <input type="text" class="account_input" placeholder="账号" ng-model="loginForm.mobile">
            </div>
            <div class="password">
                <div class="password_label">
                    <div class="ico6-2 password_label_ico"></div>
                </div>
                <input type="password" class="password_input" placeholder="密码" ng-model="loginForm.password">
            </div>
            <button class="btn login_btn" ng-click="signin()">登录</button>
            <div class="contact_service" id="seller" ng-if="_search.tab_index==1">联系客服</div>
            <div class="find_password_block" id="user" ng-if="_search.tab_index==2">
                <a ui-sref="app.findPassword"><div class="fl find_password_label" >忘记密码</div></a>
                <a ui-sref="register"><div class="text-right fr active-color">马上注册</div></a>
            </div>

        </div>
    </div>
</div>

<footer>
    <div class="login_footer_main">
        <div class="container">
            <ul class="link">
                <li><a href="###">关于编客</a></li>
                <li><a href="###">用户协议</a></li>
                <li><a href="###">客服中心</a></li>
                <li><a href="###">商务合作</a></li>
            </ul>
            <br>
            <div class="copyright">copyright© 2012-2016 Bianker.All Rights Reserved</div>
        </div>
    </div>
</footer>
