<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 0;">
        <div class="modal-content">
            <div class="modal-body" ng-bind="content"></div>
            <div class="modal-footer" style="padding:0;">
                <button type="button" class="btn btn-primary" ng-click="$action(true)" style="padding:10px !important">确定</button>
                <button type="button" class="btn btn-success" ng-click="$action(false)" style="padding:10px !important">取消</button>
            </div>
        </div>
    </div>
</div>
