    <div class="container bianker_require_content_wrap">
        <ul class="bianker_require_detail_nav">
            <li class="fl bianker_require_content_nav_header">所有需求</li>
            <li class="fl bianker_require_content_nav_ico"><div class="ico3-3"></div></li>
            <li class="fl bianker_require_content_nav_first" ng-bind="need.first_dir">包装设计</li>
            <li class="fl bianker_require_content_nav_ico"><div class="ico3-3"></div></li>
            <li class="fl bianker_require_content_nav_second" ng-bind="need.second_dir">包装设计</li>
            <li class="fl bianker_require_content_nav_ico"><div class="ico3-3"></div></li>
        </ul>
       <div class="bianker_require_detail_content_header">
               <div class="fl bianker_require_detail_content_header_img">
                   <img ng-src="{{employer.avator}}" onerror="../img/photo.png">
               </div>

           <div class="fl bianker_require_detail_content_header_name_wrap">
               <div class="bianker_require_detail_content_header_name" ng-bind="employer.nickname">TEMSINS</div>
               <img src="Images/call-me.png">
           </div>
           <button class="btn fr bianker_require_detail_content_header_button" ng-if="!need.person_state || need.person_state == 0" ng-click="now_in()">立即投稿</button>
           <button class="btn fr bianker_require_detail_content_header_button" ng-if="need.person_state == 2" ng-click="now_out()">取消投稿</button>
       </div>

        <div class="bianker_require_detail_content_wrap">
            <div class="bianker_require_detail_content_label clearfix cutStr" style="width: 30%"  ng-bind="need.title">玄幻类书籍介绍视频制作</div>
            <div class="active-color bianker_require_detail_content_font" style="margin-left: 20px;" ng-bind="_dict.needStatus(need.status)">投稿中</div>
            <button class="btn btn-link fr" style="margin: 22px;" ng-if="need.person_state == '1'" ng-click="closeNeed()">关闭需求</button>
        </div>
        <div class="bianker_require_detail_content_wrap">
            <div class="bianker_require_detail_content_label clearfix">
                <div class="bianker_require_detail_content_font1">悬赏金额 :</div>
                <div class="bianker_require_detail_content_font2 active-color">￥{{need.reward_rmb}}</div>
            </div>
            <div class="bianker_require_detail_content_label clearfix">
                <div class="bianker_require_detail_content_font1">托管金额 :</div>
                <div class="bianker_require_detail_content_font2 active-color">￥{{need.reward_rmb * need.pledge_rmb / 100}}</div>
            </div>
        </div>
        <div class="bianker_require_detail_content_wrap">
            <div class="bianker_require_detail_content_label">
                <div class="bianker_require_detail_content_font1">交易模式 :</div>
                <div class="bianker_require_detail_content_font2" ng-bind="_dict.trade_type[need.trade_type]">比搞</div>
            </div>
            <div class="bianker_require_detail_content_label">
                <div class="bianker_require_detail_content_font1">悬赏分配 :</div>
                <div class="bianker_require_detail_content_font2" ng-bind="_dict.reward_type[need.reward_type]">一人独享该赏金</div>
            </div>

        </div>
        <div class="bianker_require_detail_content_wrap">
            <div class="bianker_require_detail_content_label">雇主希望服务商是这样的 :</div>
            <div class="bianker_require_detail_content_label_ico1" ng-if="need.bianker_type==1">
                <div class="ico5-3"></div>
                <div class="bianker_require_detail_content_label_icofont">实名认证</div>
            </div>
            <div class="bianker_require_detail_content_label_ico2" ng-if="need.bianker_type==2">
                <div class="ico5-4"></div>
                <div class="bianker_require_detail_content_label_icofont">手机认证</div>
            </div>
        </div>
        <button class="btn bianker_require_content_button" ng-if="need.person_state == 0 && !_stg.isBianker()" ui-sref="app.personIndex">去认证</button>

       
        <div class="bianker_require_content_detail_wrap">
            <p class="title">具体需求:</p>
            <div ng-bind-html="need.summary | trustHtml">
            <p >心之明社会工作服务中心《婚姻婚姻》介绍视频制作：</p>
            <p>一、概括</p>
            <p>书名：《婚姻昏因——命中注定爱上你》</p>
            <p>婚姻是灵魂的需求,学习是生命的需要！</p>
            <p>面对，持续面对，面对到底！</p>
            <p>二、本书出版说明：</p>
            <p>很多人追求“灵魂伴侣”和“完美的婚姻”，以至于执着地改变对方、改造对方，即使硝烟弥漫，也在所不惜……</p>
            <p>夫妻透过爱而结合，但婚后，为何夫妻之心越来越远，幸福感越来越低？那是因为夫妻都忘记结婚的初衷，忘记了探寻生活不如意背后的原因，忘记</p>
            <p>察觉爱的存在。这是各有问题的5对夫妻，也是世间夫妻相处模式的不同代表；他们通过学习，婚姻生活发生了极大的翻转。5对夫妻升起无比的勇气</p>
            <p>，发起无比的慈悲心，传播心灵学堂“我幸福了，让更多的人幸福”的理念，把各自学习前后的变记录下来，启迪有缘之人，于是留下了文字传世。</p>
            </div>
        </div>
        <div class="bianker_require_content_detail_appendix" ng-if="_kit.isExists(need.attachment)">
            <div class="active-color fl">附件&nbsp:</div>
            <div class="ico2-6 bianker_require_content_detail_appendix_ico"></div>
            <div class="bianker_require_content_detail_appendix_name">多人分享奖金.png</div>
            <div class="bianker_require_content_detail_appendix_download">下载</div>
        </div>
        <div class="bianker_require_content_publish_detail">
            <div>发布时间&nbsp:</div>
            <div class="content" ng-bind="need.deadline_time | date:'yyyy-MM-dd'"></div>
            <!-- <div class="title">地址&nbsp:</div>
            <div class="content" ng-bind="need.city">浙江省杭州市</div> -->
            <div class="title">需求号&nbsp:</div>
            <div class="content" ng-bind="need.id">77712228</div>
        </div>
         <div class="bianker_require_content_ad_bottom">官方提供线上担保交易，保障您的资金安全，且不会收取您任何佣金。80%的欺诈、资金盗取均由线下交易导致，请勿线下交易。</div>
    </div>