    <nav class="navbar">
        <div class="container">
            <div class="index_nav">
                <div class="nav_font">首页</div>
                <div class="nav_font active">需求</div>
                <div class="nav_font">编客</div>
                <div class="nav_font">灵感</div>
                <div class="nav_font">素材</div>
            </div>
        </div>
    </nav>
    <div class="container bianker_require_content_wrap">
        <ul class="bianker_require_detail_nav">
            <li class="fl bianker_require_content_nav_header">所有需求</li>
            <li class="fl bianker_require_content_nav_ico"><div class="ico3-3"></div></li>
            <li class="fl bianker_require_content_nav_first" ng-bind="need.first_dir">包装设计</li>
            <li class="fl bianker_require_content_nav_ico"><div class="ico3-3"></div></li>
            <li class="fl bianker_require_content_nav_second" ng-bind="need.second_dir">包装设计</li>
            <li class="fl bianker_require_content_nav_ico"><div class="ico3-3"></div></li>
        </ul>
       <div class="bianker_require_detail_content_header">
               <div class="fl bianker_require_detail_content_header_img">
                   <img ng-src="{{employer.avator}}" onerror="../img/photo.png">
               </div>

           <div class="fl bianker_require_detail_content_header_name_wrap">
               <div class="bianker_require_detail_content_header_name" ng-bind="employer.nickname">TEMSINS</div>
               <a href="payments-detail.html"><img src="../img/call-me.png"></a>
           </div>
           <button class="btn fr bianker_require_detail_content_header_button" ng-if="_stg.isBianker()">立即投稿</button>
       </div>

        <div class="bianker_require_detail_content_wrap">
            <div class="bianker_require_detail_content_label clearfix" ng-bind="need.title">玄幻类书籍介绍视频制作</div>
            <div class="active-color bianker_require_detail_content_font" ng-bind="_dict.needStatus(need.status)">{{need.status}}投稿中</div>
        </div>
        <div class="bianker_require_detail_content_wrap">
            <div class="bianker_require_detail_content_label clearfix">
                <div class="bianker_require_detail_content_font1">悬赏金额 :</div>
                <div class="bianker_require_detail_content_font2 active-color">￥{{need.reward_rmb}}</div>
            </div>
            <div class="bianker_require_detail_content_label clearfix">
                <div class="bianker_require_detail_content_font1">托管金额 :</div>
                <div class="bianker_require_detail_content_font2 active-color">￥{{need.pledge_rmb}}</div>
            </div>
        </div>
        <div class="bianker_require_detail_content_wrap">
            <div class="bianker_require_detail_content_label">
                <div class="bianker_require_detail_content_font1">交易模式 :</div>
                <div class="bianker_require_detail_content_font2" ng-bind="_dict.trade_type[need.trade_type]">比搞</div>
            </div>
            <div class="bianker_require_detail_content_label">
                <div class="bianker_require_detail_content_font1">悬赏分配 :</div>
                <div class="bianker_require_detail_content_font2" ng-bind="_dict.reward_type[need.reward_type]">一人独享该赏金</div>
            </div>

        </div>
        <div class="bianker_require_detail_content_wrap">
            <div class="bianker_require_detail_content_label">雇主希望服务商是这样的 :</div>
            <div class="bianker_require_detail_content_label_ico1">
                <div class="ico5-3"></div>
                <div class="bianker_require_detail_content_label_icofont">实名认证</div>
            </div>
            <div class="bianker_require_detail_content_label_ico2">
                <div class="ico5-4"></div>
                <div class="bianker_require_detail_content_label_icofont">手机认证</div>
            </div>
        </div>
        <button class="btn bianker_require_content_button" ng-if="_stg.isBianker()">去认证</button>

        <div class="bianker_require_content_ad_bottom">官方提供线上担保交易，保障您的资金安全，且不会收取您任何佣金。80%的欺诈、资金盗取均由线下交易导致，请勿线下交易。</div>
    </div>