<div class="fl bianker_employer_myorder_main_right">
            <div class="bianker_title_box"><span>我的订单</span></div>
            <ul class="bianker_employer_myorder_main_right_nav">
                <li class=" text-center" ng-class="{'active-color':state==2}" ng-click="loadStateDate(2)">投稿中<span>{{order_state['2'] || 0}}</span></li>
                <li class=" text-center" ng-class="{'active-color':state==3}" ng-click="loadStateDate(3)">已关闭<span>{{order_state['3'] || 0}}</span></li>
                <li class=" text-center" ng-class="{'active-color':state==4}" ng-click="loadStateDate(4)">待评价<span>{{order_state['4'] || 0}}</span></li>
                <li class=" text-center" ng-class="{'active-color':state==5}" ng-click="loadStateDate(5)">已结束<span>{{order_state['5'] || 0}}</span></li>
                <li class=" text-center" ng-class="{'active-color':state==6}" ng-click="loadStateDate(6)">退款<span>{{order_state['6'] || 0}}</span></li>
                <li class=" text-center" ng-class="{'active-color':state==1}" ng-click="loadStateDate(1)">查看全部订单</li>
            </ul>
            <div class="bianker_employer_myorder_main_right_content" ng-repeat="order in orderList">
                <div class="col-lg-12 bianker_employer_myorder_main_right_content_list1">

                    <div class="bianker_employer_myorder_main_right_content_list1_left" ng-click="go_detail(order.id,order.userids)" style="cursor: pointer;">{{order.title}} - {{_dict.trade_type[order.trade_type]}}</div>

                    <div ng-if="statusFun(order).upload || statusFun(order).reupload"  class="bianker_employer_myorder_main_right_content_list1_right"
                    ngf-select="upload(order)" ng-model="order.videofile" name="videofile" ngf-pattern="'.mp4,.zip'"
                    ngf-max-size="500MB"
                    >{{statusFun(order).upload?'上':'重'}}传稿件</div>

                    <div ng-if="statusFun(order).full_upload"
                    class="bianker_employer_myorder_main_right_content_list1_right"
                    >重传次数已满</div>
                </div>
                <div class="col-lg-12">
                    <div class="bianker_employer_myorder_main_right_content_list_font">赏金 : </div>
                    <div class="fl active-color" >￥{{order.reward_rmb}}</div>
                    <div class="bianker_employer_myorder_main_right_content_list_font">- {{_dict.need_status_bianker[order.status]}}</div>
                    <span class="fr" ng-bind="order.filename">111</span>
                </div>
            </div>
        </div>
        <div class="col-lg-12 bianker_pagination_wrap" id="laypage" style="text-align: right;padding-top: 6px !important;"></div>