            <div class="bianker_title_box"><span>完善信息</span></div>
            <div class="bianker_title_box_tip">亲爱的<span ng-bind="cuser.nickname"></span>,身份认证后，才能开始接单哦</div>
            <div class="bianker_user_info_img_wrap">
                <div class="fl bianker_user_info_img_font">当前头像</div>
                <div class="fl bianker_user_info_img_main"><img
                 ngf-select ng-model="_form.avator" name="avator" ngf-pattern="'image/*,.png,.jpg,jpeg'"
                 ngf-accept="'image/*'" ngf-max-size="2MB" 
                 ng-src="{{(_form.avator || cuser.avator) | ngfDataUrl}}"
                 ></div>
            </div>

            <div class="bianker_user_info_wrap">
                <div class="fl bianker_user_info_labelfont">昵&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp称</div>
                <input type="text" class="bianker_user_info_input fl" ng-model="_form.nickname">
            </div>
            <div class="bianker_user_info_wrap">
                <div class="fl bianker_user_info_labelfont">手机号码</div>
                <input type="text" class="bianker_user_info_input fl" ng-model="cuser.mobile" readonly="readonly">
            </div>
            <div class="bianker_user_info_wrap">
                <div class="fl bianker_user_info_labelfont">*所在城市</div>
                <input select-address p="p" c="c" a="a" d="d" ng-model="_form.city" placeholder="请选择所在地" type="text" class="bianker_user_info_input fl" />
            </div>
            <div class="bianker_user_info_wrap">
                <div class="fl bianker_user_info_labelfont">性&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp别</div>
                <div class="fl bianker_user_info_checkbox">
                    <label class="checkbox-inline">
                        <input type="radio" name="optionsRadiosinline"
                               value="1" ng-model="_form.sex">男
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="optionsRadiosinline"
                               value="2" ng-model="_form.sex">女
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="optionsRadiosinline"
                               value="3" ng-model="_form.sex">保密
                    </label>
                </div>
            </div>
            <div class="bianker_user_info_textarea_wrap">
                <div class="fl bianker_user_info_labelfont">个性签名</div>
                <textarea class="bianker_user_info_textarea" ng-model="_form.summary"></textarea>
            </div>
            <div class="bianker_user_info_wrap">
                <div class="fl bianker_user_info_labelfont"></div>
                <button class="btn bianker_user_info_save_btn" ng-click="commit()">保存</button>
            </div>
