        <!-- 第一步 -->
        <div ng-show="step == 1" class="bianker_content_main_right fl">
            <div class="bianker_title_box"><span>完善信息</span></div>

            <div class="bianker_title_box_tip">亲爱的<span ng-bind="nickname"></span>,身份认证后，才能开始接单哦</div>
            <div class="bianker_user_info_img_wrap">
                <div class="fl bianker_user_info_img_font">当前头像</div>
                <div class="fl bianker_user_info_img_main"><img ng-src="{{cuser.avator}}" onerror="this.src='../Images/photo.png'"></div>
            </div>
            <div class="bianker_user_info_wrap">
                <div class="fl bianker_user_info_labelfont">昵&nbsp&nbsp称</div>
                <input type="text" class="bianker_user_info_input fl" ng-model="cuser.nickname" >
            </div>
            <div class="bianker_user_info_wrap">
                <div class="fl bianker_user_info_labelfont">*账户类型</div>
                <div class="fl bianker_user_info_checkbox">
                    <label class="checkbox-inline">
                        <input type="radio" name="optionsRadiosinline"
                               value="1" ng-model="cuser.type">个人
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="optionsRadiosinline"
                               value="2" ng-model="cuser.type">企业
                    </label>
                </div>
            </div>
            <div class="bianker_user_info_wrap">
                <div class="fl bianker_user_info_labelfont">*手机号码</div>
                <span ng-bind="cuser.mobile"></span>
            </div>
            <div class="bianker_user_info_wrap">
                <div class="fl bianker_user_info_labelfont">*所在城市</div>
                <input select-address p="p" c="c" a="a" d="d" ng-model="cuser.city" placeholder="请选择所在地" type="text" class="bianker_user_info_input fl" readonly="readonly" />
            </div>
            <div class="bianker_user_info_wrap">
                <div class="fl bianker_user_info_labelfont"></div>
                <button class="btn bianker_user_info_next_btn" ng-click="go_step_2()">下一步</button>
            </div>

        </div>
        <!-- 第二步 - 个人审核 -->
        <div ng-show="step == 2 && cuser.type == 1" class="fl bianker_content_main_right">
            <div class="bianker_title_box"><span>个人-提交认证信息</span></div>
            <!-- <div class="bianker_title_box_tip">亲爱的<span ng-bind="cuser.nickname"></span>,身份认证后，才能开始接单哦</div> -->
            <div class="bianker_company_confirm_container_right_block">
                <div class="fl bianker_company_confirm_container_right_block_label">*身份证姓名</div>
                <input type="text" class="fl bianker_company_confirm_container_right_block_input" ng-model="_form.name">
            </div>
            <div class="bianker_company_confirm_container_right_block">
                <div class="fl bianker_company_confirm_container_right_block_label">*身份证号码</div>
                <input type="text" class="fl bianker_company_confirm_container_right_block_input" ng-model="_form.id_card">
            </div>
            <div class="bianker_identity_confirm_container_right_block_bottom">
                <div class="fl bianker_company_confirm_container_right_block_label">*手持证件照片</div>
                <div class="fl bianker_company_confirm_container_right_block_img" style="margin-right: 20px">
                    <img ng-src="{{(_form.photo || 'Images/anli.png') | ngfDataUrl}}" style="width: 200px;height: 200px">
                    <!-- <img src="Images/anli.png" style="width: 100%;height: 100%"> -->
                    <div class="text-center cankao">参考实例</div>
                </div>
                <div class="fl bianker_identity_confirm_container_right_block_font">
                    <div>身份证上所有信息清晰可见，必须能看清证件照信息。</div>
                    <div>照片需免冠，建议未化妆，手持证件人的五官清晰。</div>
                    <div>照片内容真实有效，不得做任何修改。</div>
                    <div>支持.jpg .jpeg .bmp .gif格式照片，大小不超过2MB</div>
                    <button class="btn bianker_company_confirm_container_right_block_font_btn"
                        ngf-select ng-model="_form.photo" name="photo" ngf-pattern="'image/*'"
                        ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="100" 
                        ngf-resize="{width: 100, height: 100}"
                    >选择文件</button>
                </div>
            </div>
            <div class="bianker_company_confirm_container_right_block_button">
                <div class="fl bianker_company_confirm_container_right_block_label"></div>
                <button class="btn fl bianker_company_confirm_container_right_block_button_pre" ng-click="go_prev(1)">上一步</button>
                <button class="btn fl bianker_company_confirm_container_right_block_button_submit" ng-click="go_step_3()">提交申请</button>
            </div>
        </div>
        <!-- 第二步 - 企业审核 -->
        <div ng-show="step == 2 && cuser.type != 1" class="fl bianker_content_main_right">
            <div class="bianker_title_box"><span>企业-提交认证信息</span></div>
            <!-- <div class="bianker_title_box_tip">亲爱的<span ng-bind="cuser.nickname"></span>,身份认证后，才能开始接单哦</div> -->
            <div class="bianker_company_confirm_container_right_block">
                <div class="fl bianker_company_confirm_container_right_block_label">*企业名称</div>
                <input type="text" class="fl bianker_company_confirm_container_right_block_input" ng-model="_form.name">
            </div>
            <div class="bianker_company_confirm_container_right_block">
                <div class="fl bianker_company_confirm_container_right_block_label">*营业执照注册号</div>
                <input type="text" class="fl bianker_company_confirm_container_right_block_input" ng-model="_form.id_card">
            </div>
            <div class="bianker_company_confirm_container_right_block">
                <div class="fl bianker_company_confirm_container_right_block_label">成立时间</div>
                <input type="text" id="laydate" def-laydate class="fl bianker_company_confirm_container_right_block_input" ng-model="_form.formed"  readonly="readonly" min-date="laydate.now()">
            </div>
            <div class="bianker_company_confirm_container_right_block">
                <div class="fl bianker_company_confirm_container_right_block_label">经营范围</div>
                <input type="text" class="fl bianker_company_confirm_container_right_block_input" ng-model="_form.frame">
            </div>

            <div class="bianker_company_confirm_container_right_block_bottom">
                <div class="fl bianker_company_confirm_container_right_block_label">经营执照副本扫描件</div>
                <div class="fl bianker_company_confirm_container_right_block_font">
                    <div>请上传营业执照清晰彩色原件扫描件或数码照</div>
                    <div>在有效期内且年检章齐全(当年成立的无年检章)</div>
                    <div>由中国大陆工商局颁发</div>
                    <div>支持.jpg .jpeg .bmp .gif格式照片，大小不超过5MB</div>
                    <button class="btn bianker_company_confirm_container_right_block_font_btn"
                        ngf-select ng-model="_form.photo" name="photo" ngf-pattern="'image/*'"
                        ngf-accept="'image/*'" ngf-max-size="5MB" ngf-min-height="100" 
                        ngf-resize="{width: 100, height: 100}"
                    >选择文件</button><span class="company-photo-name" ng-bind="_form.photo.name"></span>
                </div>
            </div>
            <div class="bianker_company_confirm_container_right_block_button">
                <div class="fl bianker_company_confirm_container_right_block_label"></div>
                <button class="btn fl bianker_company_confirm_container_right_block_button_pre" ng-click="go_prev(1)">上一步</button>
                <button class="btn fl bianker_company_confirm_container_right_block_button_submit" ng-click="go_step_3()">提交申请</button>
            </div>
        </div>
        <!-- 审核中 -->
        <div ng-show="step == 3" class="fr bianker_content_main_right">
            <div class="bianker_title_box"><span>认证申请</span></div>
            <div class="ico4-6" style="margin: 0 auto;margin-top: 180px"></div>
            <div class="row text-center active-color" style="margin-top: 16px;font-weight: bold;">恭喜您，认证信息已提交成功，请耐心等待审核 ...</div>
        </div>
        <!-- 审核失败 -->
        <div ng-show="step == 4" class="fr bianker_content_main_right">
            <div class="bianker_title_box"><span>认证申请</span></div>
            <div class="ico4-6" style="margin: 0 auto;margin-top: 180px"></div>
            <div class="row text-center active-color" style="margin-top: 16px;font-weight: bold;">对不起，您填写的信息有误，请<a href="javascript:;" style="border-bottom: 2px solid #2baffa;padding-bottom: 4px;color: #2baffa" ng-click="reApply()">重新申请</a></div>
        </div>
        <!-- 审核成功 -->
        <div ng-show="step == 5" class="fr bianker_content_main_right">
            <div class="bianker_title_box"><span>认证申请</span></div>
            <div class="ico4-6" style="margin: 0 auto;margin-top: 180px"></div>
            <div class="row text-center active-color" style="margin-top: 16px;font-weight: bold;">恭喜您，您已通过认证，赶紧<a ui-sref="app.allRequires" style="border-bottom: 2px solid #2baffa;padding-bottom: 4px;color: #2baffa">去接单</a>吧!</div>
        </div>
