/* 滚动条 */
::-webkit-scrollbar{width: 10px; height: 10px;}
::-webkit-scrollbar-button:vertical{display: none;}
::-webkit-scrollbar-track:vertical{background-color: black;}
::-webkit-scrollbar-track-piece{background-color: #F5F5F5;}
::-webkit-scrollbar-thumb:vertical{margin-right:10px; background-color: #999;}
::-webkit-scrollbar-thumb:vertical:hover{background-color: #666;}
::-webkit-scrollbar-corner:vertical{background-color: #535353;}
::-webkit-scrollbar-resizer:vertical{background-color: #FF6E00;}


.toast-container{
    position: fixed;
    width: 20%;
    min-width: 300px;
    right: 0;    
    z-index: 19900207;
}
.toast-container .top-right{
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    margin: 10px 0px;
}
.index_publish_drop_submitBtn_wrap{margin: 20px auto;}
#laydate_box,#laydate_box *{box-sizing: initial;}
.bianker_employee_step_line2.active {
    width: 100% !important;
}
.bianker_employee_step_line3 {
    width: 50% !important;
    margin-left: 0 !important;
}
.loading-container{
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 19900207;
}
.company-photo-name{
    position: relative;
    top: 13px;
    left: 11px;
    font-size: 1.1em;
}
.cutStr{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.mark_search{
    color:#f55 !important;
}

.bianker_require_content_attachment_add_list{
    height: auto !important;
    min-height: 31px;
    padding: 5px;
}

.nav_login_name
,.nav_login{
    height: 28px !important;
}

.nav_login_logo{
    bottom: 15px !important;
}
.tipbox{
    z-index: 99999;
}
.bianker_user_info_input{
    width: 472px !important;
}

.bianker_download_content_slide_photo{
    width: 40px !important;
    height: 40px !important;
}
