/* 滚动条 */
::-webkit-scrollbar{width: 10px; height: 10px;}
::-webkit-scrollbar-button:vertical{display: none;}
::-webkit-scrollbar-track:vertical{background-color: black;}
::-webkit-scrollbar-track-piece{background-color: #F5F5F5;}
::-webkit-scrollbar-thumb:vertical{margin-right:10px; background-color: #999;}
::-webkit-scrollbar-thumb:vertical:hover{background-color: #666;}
::-webkit-scrollbar-corner:vertical{background-color: #535353;}
::-webkit-scrollbar-resizer:vertical{background-color: #FF6E00;}


.toast-container{
    position: fixed;
    width: 20%;
    min-width: 300px;
    right: 0;    
}
.toast-container .top-right{
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    margin: 10px 0px;
}
.index_publish_drop_submitBtn_wrap{margin: 20px auto;}
#laydate_box,#laydate_box *{box-sizing: initial;}
.bianker_employee_step_line2.active {
    width: 100% !important;
}
.bianker_employee_step_line3 {
    width: 50% !important;
    margin-left: 0 !important;
}
